@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500;600&family=Montserrat:wght@300;400;500&display=swap");

//fuentes
$mainFont: "Montserrat", sans-serif;
$secondaryFont: "Barlow Condensed", sans-serif;

//tamaño fuente
$textXl:4em;
$textLg:3em;
$textMd:2em;
$textSm:1em;